<head>
	<style type="text/css">
		.clicks{
			color:blue;
		}
		
		#body-container{
	      background: url("show_background.jpg") white;
	  		color:black;
	      background-position: center;
	      background-size:cover;
	      position: fixed;
	      height: 100%;
	      width:100%;
	      font-size: 20px;
	    }
		h1{
			text-align: center;
			color: white;
			text-decoration: underline;

		}
		#tasks-container{
			height:100%;
			background:rgba(0,0,0,0.5);
			
			position: center;
			width: 40%;
			height: 70%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 25px;
			border-color: grey;
			border-width: 25px;
		}
		#form-container{
			position:relative;
			height: 100px;
			margin-left: auto;
			margin-right: auto;
			
			bottom:10%;
			left:32%;			
		}
	</style>
</head>
<body>
	<div id="body-container">
	<h1>Your Lists</h1>

		<div id="tasks-container">
		<% @project.each do |beta|%>
		    
		    <%if beta.users_id == current_user.id%>
		    </br>
		    <div>
		    <%= button_to beta.project_name, project_path(beta.id), :style=>'color: black; float:left', :method =>'get' %>
		    <%= button_to 'Delete List', beta, :method => 'delete', :style=>'float:right; color: black'%></br>
		    </div>
		    
		    <%end%> 
		<% end %>
		</div>
		
		<div id="form-container">
			<form accept-charset="UTF-8" action="/projects" method="post">
			  <%= token_tag %>
			  
			  <input type="text" name="project_name" id="name" style="width: 300px; left:40%"/>
			  <input type="hidden" name="users_id" id="users_id" value= '<%=current_user.id%>' />

			  <button type="submit">Create a New List</button>
			</form>
		
		</div>
	</div>
</body>